.blue-line {
  width: 33%;
  height: 5px;
  background-color: #0d6efd;
  margin: 1rem auto 2rem auto;
}

.content-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
