/*======================BASSE======================*/
/*RESTE*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Police de texte*/
* {
  font-family: nunito sans-serif;
}

/*Titre en gras*/
h1,
h2,
h3 {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1,
p {
  text-align: center;
}

/*texte blanc*/
header,
footer {
  color: white;
}
/*======================HEADER======================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  background-color: #000;
}
/* Nom */
header .navbar-brand {
  color: white;
}

/* Liens */
header .nav-link {
  color: white;
}

/* Hover */
header .nav-link:hover {
  text-decoration: underline;
  color: white;
}

/* L’icône du burger */
header .navbar-toggler {
  border-color: white;
}

header .navbar-toggler-icon {
  filter: invert(1);
}

/*======================FOOTER======================*/
/* Icônes réseaux */
footer i:hover {
  color: white;
  margin-right: 10px;
  font-size: 1.2rem;
}

footer .nav-link {
  color: white;
}

/* retire les espaces entre les lignes */
.nav-link {
  display: flex;
  gap: 1rem;
}

footer {
  background-color: #000;
  padding: 2rem;
}

/*======================BANNIERE======================*/
.banniere {
  height: 40vh;
  background-image: url("../../assets/img/banner.jpg");
  background-size: cover;
  background-position: center;
}

/*======================GENERAL======================*/
.section {
  padding: 50px 0;
}
