/*======================BASSE======================*/
/*RESTE*/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans...");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Police de texte*/
* {
  font-family: nunito sans;
}

/*Titre en gras*/
h1,
h2,
h3 {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

/*texte blanc*/
header,
footer {
  color: white;
}
/*======================HEADER======================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  background-color: #000;
}
/* Nom */
header .navbar-brand {
  color: white;
}

/* Liens */
header .nav-link {
  color: white;
}

/* Hover */
header .nav-link:hover {
  text-decoration: underline;
  color: white;
}

/* L’icône du burger */
header .navbar-toggler {
  border-color: white;
}

header .navbar-toggler-icon {
  filter: invert(1);
}

.active-link {
  text-decoration: underline;
}

/*======================FOOTER======================*/
/* Icônes réseaux */
footer i {
  font-size: 1.5rem;
  margin-right: 15px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-icons {
  margin-top: 10px;
}

footer i:hover {
  color: white;
}

footer .nav-link {
  color: white;
}

/* retire les espaces entre les lignes */
footer .nav-link {
  color: white;
  padding: 1px 0;
}

footer .nav-link:hover {
  font-weight: bold;
  text-decoration: none;
}

footer h5 {
  margin-bottom: 10px;
}

footer ul {
  padding-left: 0;
}

footer li {
  text-align: left;
}

footer {
  background-color: #000;
  padding: 2rem;
}

/*======================BANNIERE======================*/
.banniere {
  height: 40vh;
  background-image: url("../../assets/img/banner.jpg");
  background-size: cover;
  background-position: center;
}

/*======================GENERAL======================*/
.section {
  padding: 30px 0;
}

.section-subtitle {
  text-align: center;
}
/*======================CARD======================*/

.card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  background-color: #f8f9fa;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}
