/*Police de texte*/
* {
  font-family: nunito sans-serif;
}

/*Titre en gras*/
h1,
h2,
h3 {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
p {
  text-align: center;
}

/*texte blanc*/
header,
footer {
  color: white;
}

/* retire les espaces entre les lignes */
.nav {
  display: flex;
  gap: 1rem;
}

/* Footer */
footer {
  background-color: #000;
  padding: 2rem;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  background-color: #000;
}

/*Hero*/
.modale {
  background-color: #000;
}
