header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  background-color: #000;
}

header,
footer {
  color: white;
}

header a,
footer a {
  color: white;
  text-decoration: none;
}
