.service-card {
  text-align: center;
  padding-top: 3rem;
}

.service-card i {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.blue-line {
  width: 33%;
  height: 5px;
  background-color: #0d6efd;
  margin: 1rem auto 2rem auto;
}

.blue-line-full {
  width: 100%;
  height: 5px;
  background-color: #0d6efd;
  margin: 1rem 0 2rem 0;
}
